@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;500;700&family=Permanent+Marker&display=swap');

.impact-font {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.font-marker {
    font-family: 'Permanent Marker', cursive;
}

.font-mono {
    font-family: 'Courier Prime', monospace;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 15s linear infinite;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f2f0e9;
    border-left: 2px solid black;
}

::-webkit-scrollbar-thumb {
    background: #d00000;
    border: 2px solid black;
}